/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.topBarBlack {
    -fx-background-color: black;
    -fx-background-radius: 12px;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.24), 8, 0.3, 0, 3);
    -fx-border-radius: 12px;
}

.anchor-pane-backGround {
    -fx-background-image: url("/images/dangerBackground.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.alarm-button {
    -fx-background-color: #1c1c1c;
    -fx-text-fill: white;
    -fx-padding: 5 15 5 15; /* Reduce vertical padding */
    -fx-background-radius: 20;
    -fx-font-size: 14px;
    -fx-font-family: "SansSerif Bold";
    -fx-graphic-text-gap: 10;

    /* Fixed dimensions */
    -fx-pref-width: 180px;
    -fx-min-width: 180px;
    -fx-max-width: 180px;

    -fx-pref-height: 40px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
}


