/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}


.flow-pane-custom {
    -fx-background-color: white;
    -fx-background-radius: 12px;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.24), 8, 0.3, 0, 3);
    -fx-border-radius: 12px;
}

.anchor-pane-bg {
    -fx-background-image: url("/images/safeBackground.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.logo-pane {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 5px;
}

